* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    padding: 50px;
    position: relative;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#countdown {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#timer {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
}

#timer p {
    font-size: 3rem;
    margin: 0;
}

#timer span {
    font-size: 1.2rem;
    margin-top: 10px;
}

#new-year-message {
    margin-top: 30px;
}

.hidden {
    display: none;
}

#new-year-message h2 {
    font-size: 4rem;
    color: #ffdb58;
}

#new-year-message p {
    font-size: 1.5rem;
    margin-top: 20px;
}
/* Estilos gerais para desktop */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  h1, h2 {
    font-size: 2rem;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Responsividade para dispositivos com largura de tela até 768px (tablets e smartphones) */
  @media (max-width: 768px) {
    h1, h2 {
      font-size: 1.5rem;
    }
  
    .container {
      width: 90%;
    }
  
    header, footer {
      padding: 0.5rem;
    }
  
    .main-content {
      padding: 1rem;
    }
  }
  
  /* Responsividade para dispositivos com largura de tela até 480px (smartphones) */
  @media (max-width: 480px) {
    h1, h2 {
      font-size: 1.2rem;
    }
  
    .container {
      width: 100%;
      padding: 0 10px;
    }
  
    header, footer {
      padding: 0.5rem;
    }
  
    .main-content {
      padding: 0.5rem;
    }
  }
  